

.searched {
    position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

#cBox {
  margin: 0;
  display: flex;
    align-items: flex-end;
  justify-content: flex-end;
}

svg#google-marker {
  position: absolute;
  left: 16px;
  top: 9px;
  width: 30px;
  height: 30px;
}



#special-box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 90vw;
  height: 6vh;
  font-size: 1.25em;
  transition: width 0.75s;
  text-indent: 35px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.special-box-list {
  font: 1.25em Arial;
}

#del-text-btn {
  position: absolute;
  right: 23px;
  top: 12px;
  bottom: 0px;
}
