.some-form {
  position: relative;
}

svg#mag-glass {
  position: absolute;
  left: 10px;
  top: 13px;
}

.special-box {
  width: 86vw;
  height: 6vh;
  font-size: 1.25em;
  transition: width 0.75s;
  text-indent: 30px;
}

.special-box-list {
  font: 1.25em Arial;
}

#tester {
  position: absolute;
  right: 10px;
  top: 10px;
  bottom: 0px;
}
