.some-form {
    background: pink;
    position: relative;
}

svg#mag-glass {
  position: absolute;
  left: 10px;
  top: 13px;
}

.special-box {
    width: 90vw;
    height: 6vh;
    font-size: 1.25em;
    transition: width .75s;
    text-indent: 30px;
}

.special-box-list {
    font: 1.25em Arial;
}

svg#delete-text-btn {
  position: absolute;
  right: 10px;
  top: 13px;
}