.pano-route-img-container {
  width: 36px;
  height: 40px;
  position: absolute;
  left: 20px;
  top: 100px;
  border: 2px solid white;
  /* border-radius: 10px; */
  z-index: 0;
  background: white;
}

#pano-route-img {
  height: 100%;
  width: 100%;
  /* border-radius: 10px; */
  /* background: url('~/climbing_32px.png') center no-repeat; */
}
