.pano-route-img-container {
  width: 12.5vw;
  height: 7.5vh;
  position: absolute;
  left: 20px;
  top: 100px;
  border: 2px solid white;
  border-radius: 10px;
  z-index: 0;
}

#pano-route-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-image: url('https://www.flaticon.com/svg/vstatic/svg/281/281322.svg?token=exp=1617241253~hmac=8e49ce3b74427da976919a1fdf1420b2')
}
