.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.header-title {
  height: 50px;
  transition: height .5s ease;
  display: flex;
  align-items: center;
}

#title-rrg {
  padding-top: 0px;
  color: #40312B;
  font-family: Georgia;
}

.header-search {
  display: flex;
}

.header-input-search {
  position: relative;
  background: grey;
  overflow: hidden;
}

footer {
  margin-left: 10px;
}

.cancel-btn-holder, .cancel-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content:center;
}

.cancel-btn {
  border: 1px solid grey;
  width: 17.5vw;
}
